body {
    font-family: sans-serif;
    padding-top: 5rem;
}

.container {
    width: 80%;
    max-width: 1366px;
    margin-inline: auto;
}

#simulador {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    transition: .25s;
}

.input-field {
    font-size: 1.25rem;
    display: grid;
    grid-gap: .5rem;
    height: 33%;
}

.input-field :is(select, input) {
    padding: .75rem;
    border-radius: .5rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.input-field.checkbox {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 1.5rem;
}

.output-container {
    grid-row: 1 / 4;
    display: grid;
    grid-gap: 1.5rem;
    padding-top: 2rem;
}

.output {
    display: grid;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.output .little {
    font-size: 1.125rem;
}

.output .display_value {
    font-size: 1.25rem;
    font-weight: bold;
}

.output .tax {
    font-size: .75rem;
}

.lucra {
    background: #666;
    color: white;
}

.concorrencia {
    color: #666;
    background: #ddd;
}

#call_to_action {
    grid-row: 1 / 4;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

#call_to_action .value {
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: .25rem;
    margin-bottom: 1.75rem;
}

#call_to_action .difference {
    font-size: 1.25rem;
    margin-bottom: 1.75rem;
}

#call_to_action button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem;
    border-radius: .5rem;
    border: black 2px solid;
    background: transparent;
    cursor: pointer;
}

#call_to_action button:hover {
    background: #eee;
}